.top_img {
    height: 200px;
    width: -webkit-fill-available;
    padding: 0;
}

.ava {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.profile__info {
    padding: 10px;
    display: inline-flex;
}
