.form_control input, textarea {
    border: solid 1px black;
}

.form_control.error_div textarea, input{
    border: solid red 2px;
}

.error_child {
    border: inherit;
}

.error_msg {
    color: red;
}
