.form_control>input, .form_control>textarea {
    border: solid 1px black;
}

.form_control.error_div>textarea, .form_control.error_div>input{
    border: solid red 2px;
}

.error_child {
    border: inherit;
}

.error_msg {
    color: red;
}
