.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs .items {
}

.dialog {
    display: block;
    text-decoration: none;
    margin: 5px;
    color: black;
}

.item_active {
    color: tomato;
}

.dialogs .messages {

}

.message {
    text-effect: outline;
}

.btn {
    width: min-content;
}